body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  background-color: oklch(98.5% 0.001 106.423);
  color: oklch(14.7% 0.004 49.25);
}

@media (min-width: 900px) {
  body {
    max-width: 900px;
    margin: 4em auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: oklch(21.6% 0.006 56.043);
    color: oklch(97% 0.001 106.424);
  }

  a {
    color: oklch(82.8% 0.111 230.318);
  }

  a:visited {
    color: oklch(74.6% 0.16 232.661);
  }
}
